  <div class="container">
      <div class="is-justify-content-center is-align-content-center" id="intro-page">
        <h2 class="text-center">Create New Recipes</h2>
      <div class="row mt-4">
        <div class="col-md-6">
          <form class="form new-recipe-form">
            <div class="form-group">
              <label for="recipe-name">Recipe Name:</label>
              <input class="form-input has-text-black" type="text" id="recipe-name" name="recipe-name" />
            </div>
            <div></div>
            <div class="form-group">
              <label for="recipe-ingredients">Ingredients:</label>
              <textarea class="form-input has-text-black" id="recipe-ingredients" name="recipe-ingridients"></textarea>
            </div>
            <div class="form-group">
              <label for="recipe-directions">Directions:</label>
              <textarea class="form-input has-text-black" id="recipe-directions" name="recipe-directions"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
    </div>
      </div>
    </div>