  <div class="container">
    <div class="is-justify-content-center is-align-content-center" id="intro-page">
      <h2>Welcome to Guilt Free Gourmet</h2>
      <div>
        <p>Guilt Free Gourmet is a platform for discovering new recipes that fit your lifestyle needs while also allowing you to save your new found discoveries as well as allowing users to add thier own recipies to their progfile for an organized all in one place for all your recipes to be kept. For full access please sign up or log in or simply enjoy discovering new recipes to try.</p>
      </div>
      <div class="control">
        <button class="button is-success">Log In</button>
      </div>
    </div>
  </div>