<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/js/jass.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Guilt Free Gourmet</title>
</head>

<body>
  <nav class="">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <p>Guilt Free Gourmet</p>
      </a>
      <!-- <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div> -->
  
    
      <div class=" navbar-end dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <p>Menu</p>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
                <ul>Log In</ul>
                <ul>My Profile</ul>
                <ul>Explore Recipes</ul>
                <ul>Log Out</ul>
          </div>
        </div>
    </div>
      
  </nav>
<style>.hero {
    background: black url(/public/images/rawfoodonwood.jpg) center / cover;
}
@media (max-width: 1024px) { .hero  { background:  black url(/public/images/rawfoodonwood.jpg) center / cover; } }
@media (max-width: 768px) { .hero  { background: black url(/public/images/rawfoodonwood.jpg ) center / cover; } }</style>
  
  <section class="hero is-fullheight" >


  
  <!-- this section below is for the log in body -->

  <div class="container">
    <div class="is-justify-content-center is-align-content-center" id="intro-page">
             <strong class="has-text-white">Sign Up</strong>
       <div class="field">
    <label class="label has-text-white">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Text input" value="bulma">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>

  </div>
  
  <div class="field">
    <label class="label has-text-white">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label has-text-white">Password</label>
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-danger">Cancel</button>
    </div>
  </div>
    </div>
  </div>

 

  <div class="container">
    <div class="is-justify-content-center is-align-content-center" id="intro-page">

     <strong class="has-text-white">Log In</strong>
  
  
  <div class="field">
    <label class="label has-text-white">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email input" value="hello@">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label has-text-white">Password</label>
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  
  
 
  
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-danger">Cancel</button>
    </div>
  </div>
 

  

</body>
</html>
